---
title: Detexify LaTeX handwritten symbol recognition
description: An approach to simplify finding LaTeX symbols.
keywords: math,LaTeX,productivity,typesetting,science,machine learning,PhD
body_classes: classify
js: classify
---
#classify
  %header
    %h1 DeTeXiPi
  #classify--canvas-area
    #tafel.canvas
    #drawhere
    %a#clear{:href => "#", title: 'clear'}
    #canvaserror Something's wrong.
  #classify--hits
    #hits--loading
      .spinner
      Loading...
    #hits--loaded
      %ul#classify--hit--list.symbol-list
      #showmore
        Could not find symbol.
        %a#more{:href => "#"} Show more
