---
title: Detexify LaTeX symbol table
description: List of supported LaTeX symbols to be trained and recognized by Detexify
keywords: math,LaTeX,productivity,typesetting,science,machine learning,PhD
body_classes: symbols
js: symbols
---
#symbols
  %header
    %h1 DeTeXiPi
    %h2 Symbol table
  #symbols--list-area
    #symbols--controls
      #sort
        Sort by
        %select
          %option{:selected => "", :value => "alpha"} command
          %option{:value => "package"} package
          / <option value='samples'>number of samples</option>
      #filter
        Filter by
        %input{:type => "text"}/
    #symbols--loading
      .spinner
      Loading...
    %ul#symbols-list.symbol-list
    %a#up{:href => "#"} up ↑
